<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>

    <!-- SEO -->
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="keywords" content="decentralization,hypercore,peer-to-peer,p2p,hyperdrive">

    <!-- Social -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@HypercoreProto">
    <meta name="twitter:creator" content="@HypercoreProto">
    <meta name="og:title" content="{{ renderData.description or description or metadata.description }}">
    <meta name="og:description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="twitter:image" content="https://hyper-blog-preview.now.sh/img/hypercore-protocol.png">

    {% set css %}
     {% include "css/index.css" | url %}
     {% include "css/prism-themes/prism-base16-ateliersulphurpool.light.css" | url %}
     {% include "css/font-awesome/css/fontawesome.min.css" | url %}
     {% include "css/font-awesome/css/brands.min.css" | url %}
     {% include "css/fonts/index.css" | url %}
    {% endset %}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="https://hypercore-protocol.org">
          <img src="{{ '/img/hypercore-protocol.png' | url }}" class="logo"></img>
        </a>

        <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        <ul class="social">
          {% for icon in socialIcons %}
            <li>
              <a href="{{ icon.url }}">
                <i class="{{ icon.classes }}" alt="{{ icon.alt }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </header>

      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </main>

      <footer>
         © The <a href="https://hypercore-protocol.org">Hypercore Protocol</a> team
      </footer>

      <!-- Current page: {{ page.url | url }} -->
    </div>
    <!-- SimpleAnalytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""></noscript>
  </body>
</html>
